.modalBackground {
    
    width: 200px;
    min-height: 280px;
    max-height: 380px;
    background-color: rgb(212, 201, 201);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: auto;    
    margin-top: auto;
  }
  
  .modalContainer {
    width: 150px;
    min-height: 220px;
    max-height: 300px;
    border-radius: 12px;
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 23px;
  }

  .modalHeader{
    display: flex;
    gap: 50px;
    flex-direction: row;
  }
  
  .modalContainer .title {
    
    display: inline-block;
    justify-content: flex-start;
    text-align: center;
    margin-top: 10px;
  }

  
  .closeBtn {    
    display: flex;
    justify-content: flex-end;
    
  }
  
  .closeBtn button {
    background-color: transparent;
    border: none;    
    cursor: pointer;
    
  }
  
  .modalContainer .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .modalContainer .modalFooter {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
